@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f4e9d8;
    color: #3e3e3e;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-family: 'Cinzel', serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.content {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.content h2 {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    margin-bottom: 5px;
}

.content ul {
    padding-left: 40px;
}

.navigation {
    font-family: 'Cinzel', serif;
    background-color: #704f32;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
}

.navigation a {
    color: #f4e9d8;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #b99867;
}
